/* generic */
body {
  background-color: aliceblue;
  min-width: 280px;
}
h1,
h3 {
  color: #1b1f6b;
}
.search-bar {
  width: 80%;
  max-width: 550px;
}

.search-bar-body {
  width: 78%;
  max-width: 280px;
}

.head-body {
  background-image: url(/svg/homegroup.svg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
}
/* header */
/* navbar */
header nav {
  height: 60px;
  background-color: #fff;
}
.navbar-light .navbar-brand {
  color: #1b1f6b;
  font-weight: bolder;
}
.navbar-light .navbar-nav .nav-link {
  padding-left: 10px;
  font-weight: 500;
  color: #1b1f6b;
}
.navbar-light .navbar-nav .nav-link:hover {
  font-size: 1.05em;
  border-radius: 5px;
  color: #fff;
  background: #f26187;
}

.navbar-light .nav-item .sign-up {
  color: #f26187;
}
.navbar-light .navbar-nav .btn {
  color: white;
  background-color: #f26187;
  max-width: 100px;
}
.navbar-light .navbar-nav .btn:hover {
  font-size: 1.05em;
}
@media (min-width: 992px) {
  .nav-item {
    padding-right: 10px;
  }
  .sign-up {
    margin-left: 50px;
  }
}

/* navbar dropdown style */
@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    bottom: 0;
    left: 100%;
    width: 40%;
    visibility: hidden;
    background-color: #fff;
    transition: visibility 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    max-height: 100%;
    border-top: 2px solid #f8d8e1;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
  header nav ul {
    padding-top: 10px;
  }
  header nav ul li {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    width: 60%;
  }
}

/* header section */
header > section {
  text-align: center;
  height: 550px;
  background: #f26187;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 100px;
}
@media (max-width: 768px) {
  header > section {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
header > section > div {
  height: 100%;
  max-width: 100%;
  background-image: url('/images/header-img.png');
  background-repeat: no-repeat;
  background-size: contain;
}
header h1,
header form {
  margin: auto;
}
header h1 {
  max-width: 900px;
}
header form {
  max-width: 500px;
}
form input {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
header label {
  color: #ffffff;
}
/* main content */

main section {
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  main > section > h3 {
    text-align: center;
    padding-bottom: 10px;
  }
  main > section > p {
    text-align: right;
  }
}
@media (max-width: 575px) {
  main > section > p {
    text-align: left;
  }
}
main > section > p {
  color: #aaaaaa;
}

/* table */

.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.cell-faded {
  color: #a4a4a4;
}
.page-table {
  background-color: #ffffff;
  height: 500px;
  overflow-y: scroll;
}
.table thead th {
  background-color: #fdfaee;
}

.table td,
.table th {
  text-align: center;
}

tr .protocol {
  text-align: justify;
  width: 250px;
}

/* footer */
footer {
  padding-bottom: 10px;
}
footer .dev-by {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #412645;
}
footer aside {
  text-align: center;
}
footer aside p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}
footer aside .btn {
  background-color: #00bd92;
}

/* section coded by pstarlyk */
